* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: Roboto, "Noto Sans", Arial, sans-serif;
  background-image: url(./images/davies-designs-studio-G-6kwVnClsE-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: whitesmoke;
  min-width: 270px;
  gap: 30px;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 0;
}

.main {
  gap: 10px;
  padding-bottom: 10px;
}

#search,
#search-btn {
  padding: 10px;
  font-size: 1.5rem;
  border: 1px solid grey;
  float: left;
}

#search {
  width: 80%;
  background: #f1f1f1;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

#search-btn {
  width: 20%;
  border-left: none;
  cursor: pointer;
  background: #665f5f;
  color: aliceblue;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

#search-btn:hover {
  background: #0b7dda;
}

#location {
  font-size: 2rem;
  background-color: #949fb5;
}

.card {
  font-size: 2rem;
  width: 80%;
  gap: 30px;
  background: #f0f8ff36;
  color: #665f5f;
  width: auto;
  padding: 15px;
  border-radius: 5px;
  box-shadow: inset 0px -3px 7px 0px #949fb5;
  flex-wrap: wrap-reverse;
}

#clock {
  font-size: 4rem;
  text-shadow: 2px 3px 9px #787878;
}

.temp {
  white-space: nowrap;
  color: white;
  text-shadow: 2px 3px 9px #787878;
}

.tempXL {
  font-size: 10rem;
  margin-right: 10px;
}

#temp-unit {
  position: relative;
  top: -55px;
}

.text {
  line-height: 2;
  color: white;
  text-shadow: 2px 3px 9px #787878;
}

/* #icon {
  width: 50px;
} */
